/*-------------
    RESET
--------------*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*-------------
    GENERAL
--------------*/

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

/*----------------
    BUTTONS
-----------------*/

.btn {
    border-radius: 25px;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

.btn-hero-white {
    font-size: 18px;
    padding: 12px 20px;
}

.btn-hero-black {
    background-color: #23272a;
    color: white;
    font-size: 18px;
    padding: 12px 20px;
}

.btn-bottom-main {
    background-color: #8ea1e1;
    color: white;
    font-size: 14px;
    align-self: center;
    margin-bottom: 80px;
}

i {
    font-size: 12px;
}

.btn-hero-white i {
    color: black;
}

.btn>i {
    margin-right: 8px;
}

.btn-footer-bottom {
    background-color: #8ea1e1;
    color: white;
}

/*----------------
    TYPOGRAPHY
-----------------*/

body {
    font-family: "Roboto", serif;
    line-height: 25px;
}

h1 {
    font-size: 55px;
    line-height: 60px;
    margin-top: 80px;
}

h2 {
    font-size: 45px;
    line-height: 50px;
    margin-top: 65px;
}

h3 {
    text-align: center;
    font-size: 32px;
    margin-top: 40px;
    margin-bottom: 30px;
}

h4 {
    font-size: 18px;
}

/*-------------
    HEADER
--------------*/

header {
    color: white;
}

/*-------------
    HEADER TOP
--------------*/

.header-top {
    background-color: #255EE9;
    padding: 25px 0;
}

.header-top>.container {
    display: flex;
    background-color: transparent;
    align-items: center;
    justify-content: space-between;
}

.main-nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 50px;
}

.main-nav ul a {
    text-decoration: none;
    color: inherit;
}

/*------------------
    HEADER BOTTOM
-------------------*/

.header-bottom {
    background-image: url("/img/jumbo.png");
    padding: 50px 0;
    background-size: cover;
    background-position: center;
}

.hero {
    max-width: 900px;
    min-height: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.header-bottom .hero>p {
    margin-top: 50px;
    margin-bottom: 30px;
}

.btn-hero {
    display: flex;
    justify-content: center;
    gap: 30px;
}

/*-------------
    MAIN
------------*/

/*-----------------------------
    MAIN'S IMG AND EXPLANATION
-------------------------------*/

.explanation {
    padding: 50px 0;
}

.col-img {
    max-width: 720px;
    min-height: 500px;
}

.col-explanation {
    width: 480px;
    height: 500px;
}

.explanation-grey-bg {
    background-color: #f6f6f6;
    padding: 50px 0;
}

.explanation-grey-bg>.container {
    display: flex;
}

.explanation>.container {
    display: flex;
}

.explanation .col-explanation>p {
    line-height: 25px;
    margin-top: 30px;
}

.explanation-grey-bg .col-explanation>p {
    line-height: 25px;
    margin-top: 30px;
}

.col-img,
.explanation {
    align-items: center;
}

/*----------------------------------
    MAIN'S LAST IMG AND EXPLANATION
------------------------------------*/

.last-big-img {
    max-width: 100%;
    min-height: 900px;
}

.explanation-grey-bg .last-big-img>h2,
p {
    line-height: 25px;
    margin-top: 30px;
    text-align: center;
}

.container .last-big-img {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/*-------------
    FOOTER
--------------*/

/*-------------
    FOOTER TOP
--------------*/

.footer-top>.container {
    display: flex;
}

.footer-top {
    background-color: #23272a;
    padding-top: 10px;
    padding-bottom: 40px;
}

.col-lng-social {
    max-width: 30%;
    min-height: 580px;
}

.col-lng-social h2,
h4 {
    color: #7289da;
    margin-right: 30px;
}

.col-lng-social img {
    max-width: 30px;
}

.col-lng-social p,
img,
i {
    display: flex;
    align-items: center;
    margin-right: 4px;
    color: white;
}

p~i {
    font-size: 30px;
    margin-top: 30px;
    margin-right: 20px;
    color: white;
}

.col-links {
    width: 25%;
    min-height: 580px;
}

.col-links ul a {
    text-decoration: none;
    color: white;
}

.col-links li {
    list-style: none;
    font-size: 17px;
}

.col-links ul {
    margin-top: 60px;
    margin-left: 80px;
    line-height: 45px;
}

/*------------------
    FOOTER BOTTOM
--------------------*/

.footer-bottom>.container>* {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-bottom {
    background-color: #23272a;
    padding-top: 30px;
    border-top: 2px solid #4a5882;
    max-width: 100%;
    min-height: 130px;
    padding-bottom: 90px;
}